@font-face {
  font-family: "Airborne";
  src: url("../fonts/airborne.ttf");
}
html {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Airborne", "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  background-color: #0A0A0A;
}

a,
button,
input,
textarea {
  font-family: "Airborne", "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

p {
  margin: 16px 0;
}

ul {
  margin: 16px 0;
  padding-left: 18px;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 250px;
  padding: 0;
  border: none;
  background: url(../assets/button.svg) center no-repeat;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .button {
    height: 54px;
    width: 100%;
    border-radius: 4px;
    background: #ff6e20;
  }
}

.paralax-screen {
  position: relative;
  height: 200vh;
  max-height: 2160px;
  scroll-behavior: smooth;
}
.paralax-screen__block {
  height: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.paralax-screen__block_top {
  position: relative;
  background-image: url(../assets/bg-top.png);
}
.paralax-screen__block_top::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/bg-columns.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.paralax-screen__block_bottom {
  background-image: url(../assets/bg-bottom.png);
}
.paralax-screen__stones {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 5;
  height: 50%;
  background-image: url(../assets/stones.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.zen-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  background-color: #ff6e20;
  overflow: hidden;
}
@media (max-width: 576px) {
  .zen-divider {
    gap: 20px;
  }
}
.zen-divider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (max-width: 576px) {
  .zen-divider__item {
    gap: 20px;
  }
}
.zen-divider__item::after, .zen-divider__item::before {
  content: "";
  display: block;
  width: 165px;
  height: 39px;
  padding: 10px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 576px) {
  .zen-divider__item::after, .zen-divider__item::before {
    width: 88px;
    height: 21px;
    padding: 4px;
  }
}
.zen-divider__item::after {
  background-image: url(../assets/zen-game-full.svg);
}
.zen-divider__item::before {
  background-image: url(../assets/zen-game-outline.svg);
}

.your-story {
  padding: 54px 0;
}
@media (max-width: 576px) {
  .your-story {
    padding: 181px 0 50px;
  }
}
.your-story .container {
  position: relative;
}
@media (max-width: 992px) {
  .your-story__image {
    margin: 0 0 20px;
  }
}
.your-story__image img {
  max-width: 1440px;
  height: auto;
  width: 100%;
}
.your-story__info {
  position: absolute;
  top: 50%;
  right: 15px;
  max-width: 50.5%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 992px) {
  .your-story__info {
    max-width: none;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.your-story__title {
  margin: 0 0 20px;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 576px) {
  .your-story__title {
    font-size: 22px;
  }
}
.your-story__text {
  margin: 0 0 20px;
  text-align: justify;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 144%;
}
@media (max-width: 576px) {
  .your-story__text {
    font-size: 16px;
  }
}
.your-story__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 992px) {
  .your-story__buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.gzt {
  padding: 85px 0;
}
@media (max-width: 576px) {
  .gzt {
    padding: 50px 0 45px;
  }
}
.gzt .container {
  position: relative;
}
@media (max-width: 992px) {
  .gzt__image {
    margin: 0 0 20px;
  }
}
.gzt__image img {
  max-width: 1440px;
  height: auto;
  width: 100%;
}
.gzt__info {
  position: absolute;
  top: 50%;
  left: 15px;
  max-width: 590px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 992px) {
  .gzt__info {
    max-width: none;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.gzt__title {
  margin: 0 0 20px;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 576px) {
  .gzt__title {
    font-size: 22px;
  }
}
.gzt__text {
  margin: 0 0 20px;
  text-align: justify;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 144%;
}
@media (max-width: 576px) {
  .gzt__text {
    font-size: 16px;
  }
}
.gzt__text_contract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  line-height: 100%;
  cursor: pointer;
}
@media (max-width: 576px) {
  .gzt__text_contract {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.gzt__contract {
  display: inline-block;
  padding: 8px 51px 6px 16px;
  word-break: break-all;
  background-color: #3D3D3D;
  background-image: url(../assets/select-multiple.svg);
  background-repeat: no-repeat;
  background-position: center right 16px;
}
@media (max-width: 576px) {
  .gzt__contract {
    font-size: 15px;
  }
}
.gzt__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 24px;
}
@media (max-width: 992px) {
  .gzt__buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px;
  }
}

.doc {
  padding: 96px 0;
  overflow: hidden;
}
@media (max-width: 576px) {
  .doc {
    padding: 45px 0 61px;
  }
}
.doc .container {
  position: relative;
  text-align: right;
  aspect-ratio: 2.08/1;
}
.doc .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 100%;
  max-width: 1680px;
  aspect-ratio: 2.43/1;
  background-image: url(../assets/doc-bg.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
@media (max-width: 992px) {
  .doc .container::before {
    display: none;
  }
}
.doc__info {
  position: absolute;
  top: 103px;
  left: 50%;
  z-index: 5;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 992px) {
  .doc__info {
    max-width: none;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.doc__title {
  margin: 0 0 60px;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
@media (max-width: 576px) {
  .doc__title {
    margin: 0 0 20px;
    font-size: 22px;
  }
}
.doc__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
@media (max-width: 768px) {
  .doc__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.doc__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.doc__link:hover .doc__link-image {
  -webkit-filter: drop-shadow(-4px 4px 0px #ff6e20);
          filter: drop-shadow(-4px 4px 0px #ff6e20);
}
.doc__link-image {
  position: relative;
  height: 140px;
  width: 140px;
  background: url(../assets/doc-link-bg.svg) center no-repeat;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.doc__link-image::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.doc__link-image_whitepaper::after {
  background-image: url(../assets/whitepaper.svg);
}
.doc__link-image_roadmap::after {
  background-image: url(../assets/roadmap.svg);
}
.doc__link-image_tokenomics::after {
  background-image: url(../assets/tokenomics.svg);
}
.doc__link-image_invest::after {
  background-image: url(../assets/invest.svg);
}