.gzt {
  padding: 85px 0;

  @include mobile {
    padding: 50px 0 45px;
  }

  & .container {
    position: relative;
  }

  &__image {
    @include laptop {
      margin: 0 0 20px;
    }

    & img {
      max-width: 1440px;
      height: auto;
      width: 100%;
    }
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 15px;
    max-width: 590px;
    transform: translateY(-50%);

    @include laptop {
      max-width: none;
      position: static;
      transform: none;
    }
  }

  &__title {
    margin: 0 0 20px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mobile {
      font-size: 22px;
    }
  }

  &__text {
    margin: 0 0 20px;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;

    @include mobile {
      font-size: 16px;
    }

    &_contract {
      display: flex;
      align-items: center;
      gap: 10px;
      line-height: 100%;
      cursor: pointer;

      @include mobile {
        align-items: flex-start;
        flex-direction: column;
        
      }
    }
  }

  &__contract {
    display: inline-block;
    padding: 8px 51px 6px 16px;
    word-break: break-all;
    background-color: #3D3D3D;
    background-image: url(../assets/select-multiple.svg);
    background-repeat: no-repeat;
    background-position: center right 16px;

    @include mobile {
      font-size: 15px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;

    @include laptop {
      justify-content: flex-start;
      gap: 10px;
    }
  }
}
