.main {
  position: relative;
  z-index: 1;
  background-image: url(../assets/ellipse.svg);
  background-repeat: no-repeat;
  background-position: right  center;
  background-size: 2700px;
  background-color: $black;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url(../assets/zen-bg.svg);
  }
}
