.main {
  position: relative;
  z-index: 1;
  background-image: url(../assets/ellipse.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 2700px;
  background-color: $black;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url(../assets/zen-bg.svg);
  }

  &_launch {
    background: none;

    &::before {
      display: none;
    }

    &::after {
      @media screen and (orientation: portrait) {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.8);
      }
    }
  }

  &__disclaimer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 100;
    display: none;
    transform: translateX(-50%) translateY(-50%);

    @media screen and (orientation: portrait) {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }

    &-text {
      max-width: 360px;
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
    }

    & img {
      max-width: 100px;
      height: auto;
    }
  }
}

div.parallax-image* {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  top: 0;
}

.sticky {
  // margin-top: -100vh;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, red, blue);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 0;
}

div.parallax-image1 {
  background-image: url(../assets/bg-top.png);
}

div.parallax-image2 {
  background-image: url(../assets/bg-bottom.png);
}
