.paralax-screen {
  position: relative;
  height: 200vh;
  max-height: 2160px;
  // scroll-behavior: smooth;

  @include mobile {
    max-height: 1840px;
  }

  &__block {
    height: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &_top {
      position: relative;
      background-image: url(../assets/bg-top.png);

      @include mobile {
        background-image: url(../assets/bg-top-sm.png);
      }
    }

    &_bottom {
      background-image: url(../assets/bg-bottom.png);

      @include mobile {
        background-image: url(../assets/bg-bottom-sm.png);
      }
    }
  }

  @supports (-webkit-touch-callout: none) {
    .imageDiv {
      background-attachment: scroll;
      background-size: auto 100vh;
    }
  }

  &__stones {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 5;
    height: 50%;
    background-image: url(../assets/stones.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translateY(-50%);
  }
}
