.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 250px;
  padding: 0;
  border: none;
  background: url(../assets/button.svg) center no-repeat;
  color: $white;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transition: $baseTransition;
  cursor: pointer;

  @include mobile {
    height: 54px;
    width: 100%;
    border-radius: 4px;
    background: #ff6e20;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.98);
  }

  &.disable {
    position: relative;
    background: url(../assets/button-disable.svg) center no-repeat;

    @include mobile {
      background: #4f4f4f;
    }

    &:hover {
      transform: scale(1);
    }

    &:active {
      transform: scale(1);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 16px;
      display: block;
      width: 18px;
      height: 18px;
      background: url(../assets/lock.svg) center no-repeat;
      background-size: 18px;
      transform: translateY(-60%);
      opacity: 0;
      transition: opacity ease-in-out 0.2s;
      will-change: opacity;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}
